[submodule "hugo-theme-sam"]
	path = hugo-theme-sam
	url = https://github.com/vickylai/hugo-theme-sam
[submodule "themes/sam"]
	path = themes/sam
	url = https://github.com/vickylai/hugo-theme-sam.git
[submodule "public"]
	path = public
	url = git@github.com:ptonlix/ptonlix.github.io.git
	branch = master
